<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXj6y6O4u2AxqxZeBoZr269OvgrjL-_yE</string>
	<key>GCM_SENDER_ID</key>
	<string>1008505385198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yanffyy.xyz.MVP</string>
	<key>PROJECT_ID</key>
	<string>pep-b647c</string>
	<key>STORAGE_BUCKET</key>
	<string>pep-b647c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008505385198:ios:a65dc8a55fc6077c2e03ff</string>
</dict>
</plist>